<h1>Seja bem vindo ao seu painel de controle</h1>
<hr />

<div class="text-justify">
    <p>
        Abaixo está seu link de divulgação, todos que se inscreverem através dele irão efetuar doações em sua conta até o nível 4. Repare que ao acessar nosso site pelo seu link, uma barra verde com seu nome escrito irá aparecer no topo do site, isso significa que todos que se inscreverem com seu nome em exibição estarão entrando através de você e efetuarão doações em sua conta. 
    </p>
</div>

<div class="alert alert-success text-center">
    <h2><a href=@ViewBag.Acesso class="" target="_blank">@ViewBag.Acesso</a></h2>
</div>
