<h1>Seu cadastro ainda não está liberado</h1>
<hr />
<div class="text-justify">
    <p>
        Seu cadastro ainda não foi liberado pois estamos aguardando a confirmação de todos os depósitos. Assim que os usuários a serem pagos confirmarem que receberam iremos avisá-lo por e-mail, ou sempre confira aqui o status da sua liberação.
    </p>
    <p>
        <span class="label label-warning">IMPORTANTE:</span> Assim que efetuar o pagamento, envie abaixo seu comprovante bancário pelo botão “Enviar comprovante”, na tela a seguir envie a foto do recibo ou digite as informações contidas nele, pois é somente com o envio dos detalhes do pagamento que seus depósitos serão confirmados e sua conta será liberada.       
    </p>
</div>

