@model dynamic

@{
    ViewBag.Title = "Como Divulgar";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h1>Como Divulgar</h1>
<hr/>
<h2>Algumas ideias de como divulgar</h2>
<div class="text-justify">
    <p>
        A princípio, você pode utilizar qualquer lugar para divulgar seu link e conseguir novas pessoas para entrar no sistema, seja um cartaz no seu trabalho, escola, chamando amigos pessoalmente, panfletos e tudo mais que sua imaginação permitir, porém existem maneiras mais eficientes, rápidas e baratas de se divulgar. 
    </p>
    <p>
        Como nós somos um sistema online, então nada melhor do que divulgar na internet, pois assim a pessoa já se associa e você consegue captar novos cadastros mais rapidamente. Segue uma lista de lugares recomendados: 
    </p>
    <ul>
        <li>Sua página no Facebook, Twitter, LinkedIn e outras redes sociais </li>
        <li>Sites de anúncios como o <span class="label-info"><a href="http://www.bomegocio.com" target="_blank">Bom Negócio</a></span> e o <span class="label-info"><a href="http://www.olx.com.br" target="_blank">OLX</a></span> anunciando em sua cidade</li>
        <li>Crie um blog, site ou converse com amigos blogueiros para divulgarem seu link</li>
        <li>Enviando e-mails pra amigos e parentes</li>
    </ul>
</div>
