<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container body-content">
            <div class="pull-left">
                <p>&copy; @DateTime.Now.Year - Desenvolvido por <a href="http://www.facebook.com/JCarvalhoInformatica" target="_blanck" title="JCarvalho TI">JCarvalho TI</a></p>
            </div>
        </div>
    </nav>
</footer>
