@{
    ViewBag.Title = "Como Funciona";
}

<div class="panel panel-body">
    
    <div class="jumbotron">
        <h2 class="text-center">Veja como funciona a Ajuda Mútua SLZ</h2>
    </div>

    <div class="col-lg-12">
        <div class="text-justify">
            <p>
                A <em><b>Ajuda Mútua SLZ</b></em> é um sistema de doação espontânea com o objetivo de ajudar a distribuir renda para seus participantes. Trata-se de uma ação entre amigos com uma idéia simples e até antiga, através de doações entre todos do grupo. Assim, conseguimos fazer com que todos recebam um valor consideravelmente bom de doação.             
            </p>
            <p>
                O funcionamento é muito simples. Ao se cadastrar, você receberá 4 números de contas bancárias de pessoas que já são membros e depositará R$ 50,00 em cada uma, totalizando R$ 200,00, que é o valor total em doações que você vai fazer. Não há como doar um valor maior ou menor do que o combinado e este é o único pagamento que você irá fazer. 
            </p>
            <p>
                Após fazer as doações, você acessará seu painel em nosso site utilizando sua senha e enviará os comprovantes de pagamento dos depósitos que você fez. Após isto, os usuários para quem você doou irão confirmar os valores depositados em suas contas. Assim que os 4 confirmarem, você ganhará um link (endereço virtual) que você poderá divulgar massivamente. E todos que entrarem no sistema através de seu link, vão receber também 4 contas, sendo uma delas a sua. Assim, você receberá uma doação de R$ 50,00 de cada pessoa que entrar no sistema pelo seu link!
            </p>
            <p>
                Mas a grande vantagem deste sistema é que você recebe R$ 10,00 de todos que você indicar, mas também <span class="label label-success">recebe de todos aqueles que seus indicados chamarem até 4 níveis!</span> Ou seja, se você chamar um amigo, ele chamar um primo, por sua vez o primo chamar a irmã, você ganhará doações de todos! E caso qualquer um deles convidem outras pessoas, você continuará ganhando através deles, pois sua conta irá aparecer em uma das 4 listadas para depósito. Por isso a razão dos ganhos até o nível 4, pois são 4 contas. 
            </p>
            <p>
                Difícil de entender? Veja o exemplo abaixo: 
            </p>
            <p class="text-center">
                <img src="../../Images/layout_comofunciona_niveis.jpg" alt="" class="img-thumbnail" />
            </p>
            <p>
                A imagem acima resume o sistema, todos que você indicar e forem indicados até o nível 4 abaixo do seu irão doar R$ 50,00 para você ou seja, quandto mais doadores forem indicados nmais irá ganhar! Além disso o número de doaçdores que você pode adicionar é ilimitado, adicione quantas pessoas quiser e quando quiser , quanto mais adicionar, mais doações receberá!
            </p>
            <p>
                É importante lembrar que, uma vez que você está dentro do sistema e recebendo doações, <span class="label label-success">é de extrema importância que você entre em seu painel todos os dias para confirmar os depósitos que fizerem em sua conta,</span> pois assim você ajuda as pessoas a também conseguirem seu link e divulgar o seu site, fazendo com que elas consigam entrar no sistema com mais agilidade e você ganhe mais e mais rápido também! 
            </p>
            <h2>Vale à pena entrar? Quanto eu posso ganhar afinal?
            </h2>
            <p>
                Esta talvez seja a pergunta mais comum, mas é bem simples de responder. Vamos a um exemplo, você com certeza conhece 4 pessoas que poderiam entrar, como um parente, amigos, colegas de trabalho, escola, etc. Caso estas 4 entrem e também convidem mais 4, que por sua vez, chamem cada uma delas mais 4, e o próximo nível mais 4, você terá 256 pessoas abaixo de você fazendo doações na sua conta. Quanto você ganharia com isso? Veja a conta abaixo. 
            </p>
            <div class=" table-responsive">
                <table class="table table-striped table-bordered table-condensed text-center">
                    <thead class="bg-primary">
                        <tr>
                            <th>Níveis</th>
                            <th>Nº de Amigos</th>
                            <th>Total de Ganhos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1º Nível</td>
                            <td>4</td>
                            <td>R$ 200,00</td>
                        </tr>
                        <tr>
                            <td>2º Nível</td>
                            <td>16</td>
                            <td>R$ 800,00</td>
                        </tr>
                        <tr>
                            <td>3º Nível</td>
                            <td>64</td>
                            <td>R$ 3200,00</td>
                        </tr>
                        <tr>
                            <td>4º Nível</td>
                            <td>256</td>
                            <td>R$ 12.800,00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <h1 class="alert alert-danger text-center">Total de ganhos = <b>R$ 17.000,00</b></h1>
            </div>
            @*<p class="text-center">
            <img src="../../Images/layout_comofunciona_conta.jpg" alt="" />
        </p>*@
            <p>
                Se esta conta já te deixou interessado, imagine se você conseguir mais do que as 5 pessoas do exemplo, ou as pessoas que você conseguiu forem influentes e incluírem muitas outras mais, o valor que você receberá de doação poderá ser muito maior! Só vai depender de seu empenho em convidar mais pessoas e querer ajudar mais e mais.
            </p>
            <h2>Este sistema é sério? Não vou ser enganado? 
            </h2>
            <p>
                Esta ideia é relativamente antiga, nós apenas criamos uma ferramenta para facilitar e garantir que todos participem e possam fazer esta ação entre amigos. Ela também é 100% legal e permitida pela legislação brasileira, que permite que doações de pequeno valor sejam feitas sem nenhum tipo de motivo ou declaração, além do fato de que os participantes depositam diretamente para os próprios membros do site.
            </p>
            <p>
                É também importante citar que não temos nada a ver com esquemas de pirâmide, marketing multinível ou coisas do tipo. Não vendemos nada e você não pode participar nem com mais nem com menos do que o valor combinado de R$ 200,00. Além do mais, esta não é uma forma de renda fixa, pois enquanto você estiver divulgando e chamando novas pessoas, estará recebendo. Uma vez que parar de divulgar, os depósitos irão começar a acabar também, esta é apenas uma forma de ajudar uns aos outros como um grupo de amigos. 
            </p>
            <p>
                Ficou animado para começar? Então é só seguir clicar abaixo e vamos lá! 
            </p>
            <div class="text-center">
                @Html.ActionLink("QUERO PARTICIPAR!", "Index", "Cadastro", null, new { @class = "btn btn-success btn-lg" })
            </div>
        </div>
        <br />
    </div>
</div>

@*<tr>
<td>Indicados diretos</td>
<td>1 n&iacute;vel</td>
<td>10% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>2 n&iacute;vel</td>
<td>9% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>3 n&iacute;vel</td>
<td>8% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>4 n&iacute;vel</td>
<td>7% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>5 n&iacute;vel</td>
<td>6% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>6 n&iacute;vel</td>
<td>5% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>7 n&iacute;vel</td>
<td>4% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>8 n&iacute;vel</td>
<td>3% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>9 n&iacute;vel</td>
<td>2% de comiss&atilde;o</td>
</tr>
<tr>
<td>Indicados indiretos</td>
<td>10 n&iacute;vel</td>
<td>1% de comiss&atilde;o</td>
</tr>
</tbody>*@