@{
    ViewBag.Title = "Faq";
}

<div class="panel panel-body">
    
    <div class="jumbotron">
        <h2 class="text-center">Veja uma lista de perguntas comuns</h2>
    </div>

    <div class="col-lg-12">
        <div class="text-justify">
            <h2>O que realmente é a Ajuda Mutua SLZ?</h2>
            <p>
                Resumindo, somos um sistema de doação espontânea em formato de ação entre amigos com o objetivo de ajudar a distribuir renda para seus participantes. A ideia é simples: Ao se cadastrar através da indicação de um conhecido, você depositará R$ 50,00 na conta de 4 participantes. Após isto, você já será um indicador participante e poderá receber inúmeras doações de R$ 50,00 de todos que você indicar e também todos abaixo deles, em até 4 níveis!
            </p>
            <h2>Isto não é uma pirâmide?</h2>
            <p>
                Não. Aqui na Ajuda Mutua SLZ temos como ideal a doação. Doar para receber, receber para doar, um verdadeiro ciclo. Diferente das pirâmides, onde você paga e fica esperando, quem sabe um dia receber e favorecer somente quem está no topo. Aqui nos dedicamos em conjunto, todos contribuem com todos, pois somos apenas amigos com um propósito: Crescer juntos!
            </p>
            <h2>Como funciona?</h2>
            <p>
                Após realizar seu cadastro, você receberá uma lista com 4 nomes de participantes com suas respectivas contas. Você deverá depositar R$ 50,00 em cada uma dessas contas no prazo de 72 horas e enviar os comprovantes para o nosso sistema. Aí, cada participante receberá uma notificação para liberar seu acesso ao sistema. Após a liberação das quatro contas, você já terá acesso ao seu escritório virtual e um endereço (url) de divulgação. Aí, basta divulgar este endereço aos seus conhecidos e para quem quiser. Com certeza, muitos vão querer fazer parte do sistema e como seu nome estará na 1ª posição, já começará a receber inúmeros depósitos de R$ 50,00!
            </p>
            <h2>Se é doação, não posso doar qualquer valor?</h2>
            <p>
                Não. A fim de ser um sistema justo e muito efetivo, a doação para cada membro é de R$ 50,00. Seria injusto uma pessoa doar R$ 200,00 (duzentos Reais) e receber de volta o mesmo valor de quem doou R$ 50,00 (cinquenta Reais).
            </p>
            <h2>Qual o valor da doação?</h2>
            <p>
                O valor da doação é de R$ 50,00 (Cinquenta Reais) para cada lista de 4 membros, totalizando R$ 200,00 (Duzentos reais), isso apenas uma única vez. Doando os R$ 200,00 você poderá utilizar nosso sistema para sempre, sem precisar pagar nenhum tipo de taxa adicional ou mensalidade.
            </p>
            <h2>Quanto tempo demora para ativar a minha conta? </h2>
            <p>
                Fazendo seu cadastro, sua posição já fica reservada. Depois de fazer suas respectivas doações e envio de comprovantes, leva até 48 horas para ativar. Mas não se preocupe, pois se você realmente depositou, seu ingresso é certo. 
            </p>
            <h2>Tenho garantia que irei receber o valor dos meus depósitos? </h2>
            <p>
                Estamos trabalhando com amigos que querem crescer junto com você! Então fique tranquilo, ao efetuar a sua doação você terá todo o controle em seu escritório virtual. Sendo assim, não se preocupe, porque aqui a transparência é palavra de ordem e você receberá as doações diretamente em sua conta, sem intermediários.
            </p>
            <h2>Uma vez aprovado, posso colocar quantas pessoas quiser?</h2>
            <p>
                Sim, você pode incluir quantas pessoas quiser e quando quiser. 
            </p>
            <h2>Como faço para acessar a minha conta? </h2>
            <p>
                Estando ativo no sistema, bastará acessar o "Painel de controle", bem no menu localizado no topo do site, depois é só preencher com seu login ou e-mail e a senha que preencheu no cadastro.
            </p>
            <h2>Como saberei que chegou minha vez?</h2>
            <p>
                Ao estar com a sua conta ativa, você será avisado por e-mail e receberá acesso a um escritório virtual onde poderá ver seus dados e ter acesso ao material de divulgação da Ajuda Mutua SLZ.
            </p>
            <h2>Não consigo acessar minha conta, o que faço? </h2>
            <p>
                Após se cadastrar e ser confirmado pelos 4 membros que receberam suas doações, você receberá o aviso por e-mail e já estará ativado. Se por algum motivo esse e-mail não chegar, faça uma solicitação pelo formulário especifico no site. Também verifique na sua caixa de spam e marque nosso e-mail como não sendo spam.
            </p>
            <h2>Além dos R$ 200,00, terei mais alguma despesa? </h2>
            <p>
                Não. O nosso sistema não cobra mensalidade. E os depósitos são realizados diretamente na conta dos participantes, ou seja, você, seus amigos e todos os membros do site.
            </p>
            <h2>Este sistema é legal?</h2>
            <p>
                Sim. O sistema de doação espontânea é amparado pela legislação brasileira, que não estipula nenhum tipo de regra ou obrigação para doações de pequenos valores, sendo assim possibilitando ser feito sem declarações ou qualquer formalização.
            </p>
            <h2>Corro o risco de perder dinheiro com este sistema? </h2>
            <p>
                Ao se cadastrar na Ajuda Mutua SLZ, o maior risco que você corre é de perder apenas R$ 40,00. Mas isso somente ocorrerá se você não divulgar seu link a ninguém, ou seja somente se você quiser isso. Todos temos um círculo de amigos, parentes e conhecidos que com certeza vão se interessar pelo sistema, e terão o mesmo interesse que você para ingressar.
            </p>
            <div class="alert alert-success text-center">
                <b>Portanto, não perca tempo, ingresse AGORA para a Ajuda Mutua SLZ. Você nunca verá novamente uma oportunidade como essa!</b>
            </div>
        </div>
        <button class="btn-link"></button>
        <br />
    </div>
</div>

